@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Visuelt Pro Regular';
    src: url('../fonts/VisueltPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Visuelt Pro Medium';
    src: url('../fonts/VisueltPro-Medium.ttf') format('truetype');
    font-weight: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

header {
    background: white url('../images/header.png') center center / cover no-repeat fixed;
    width: 100%;
    height: 100vh;
}

/* navbar */
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s ease;
    z-index: 998;
    animation: slideDown 0.5s ease forwards;
    text-transform: uppercase;
    background-color: transparent;
}

.nav-container.scrolled {
    background-color: white;

}

.hamburger-button.scrolled  .material-icons {
    color: black;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.hamburger-button .material-icons {
    font-size: 50px;
    color: white;
    transition: color 0.5s;
}

.scrolled .hamburger-button .material-icons,
.hamburger-button.active .material-icons {
    color: black;
}

.nav-container .nav-bar ul li a {
    font-family: "Visuelt Pro Medium", sans-serif;
    position: relative;
    overflow: hidden;
    display: block;
    color: white;
    font-size: 1.5em;
    padding: 5px 5px;
    margin: 15px;
    transition: color 0.5s, background-color 0.5s;
}

.nav-container .nav-bar ul li a::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    bottom: 0;
    left: calc(50% - 5px);
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

.nav-container .nav-bar ul li a:hover::after,
.nav-container .nav-bar ul li a:focus::after,
.nav-container .nav-bar ul li.active a::after {
    opacity: 1;
}

.nav-container.scrolled .nav-bar ul li a {
    color: black;
}

.nav-container.scrolled .nav-bar ul li a::after {
    background-color: black;
}

.nav-container.scrolled .nav-bar ul li a {
    color: black;
}

.nav-bar.active ul li a {
    color: black;
}

.nav-bar.active ul li a::after {
    background-color: black;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
}

@keyframes slideDown {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

/* name */
header .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    width: 100%;
    height: 100%;
}

header .name h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 8vw;
    transition: 0.5s ease;
}

header .name h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.name h1 .name-part:first-child {
    display: inline-block;
    animation: slideFromLeft 0.5s ease-out forwards;
}

.name h1 .name-part:last-child {
    display: inline-block;
    animation: slideFromRight 0.5s ease-out forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* arrow */
.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: white;
    animation: bounce 3s infinite;
}

.name h1, .scroll-down-arrow {
    transition: opacity 0.5s ease-out;
}

.scrolled .name h1,
.scrolled .scroll-down-arrow {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

@media only screen and (max-width: 1320px) {
    .nav-container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav-container {
        padding: 0 30px;
    }
}

/* about */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: auto;
}

#about .about-content {
    display: flex;
    width: 80%;
    max-width: 1200px;
    align-items: center;
}

#about .right {
    order: 2;
    padding-left: 20px;
}

#about .right img {
    width: 500px;
    height: auto;
}

#about .left {
    order: 1;
    flex-grow: 1;
    padding-right: 20px;
}

#about .left h1 {
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 4.5em;
    margin-bottom: 0.2em;
}

#about .left p {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.3em;
    color: #363636;
    margin-bottom: 2em;
    line-height: 2em;
}

#about .left h2 a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

#about .left h2 a:hover {
    background-color: #e1e1e1;
    border-radius: 100px;
    padding: 6px 15px;
}

#about .left h2 {
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#about .social-links {
    margin-top: 10em;
}

#about .social-links a {
    font-family: "Visuelt Pro Regular", sans-serif;
    color: gray;
    font-size: 1.2em;
    text-decoration: none;
    list-style-type: none;
}

#about .social-links a span:hover {
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-left: 1px;
}

#about .social-links i {
    font-size: 1em;
    margin-right: 5px;
}

#about .social-links span:not(:last-child)::after {
    content: " / ";
    margin: 8px;
    color: black;
    font-size: 1.5rem;
}

/* skills */
#skills {
    background-color: #f9f9f9;
    padding: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills .skills-content {
    justify-content: center;
}

#skills .skills-content p {
    font-family: "Visuelt Pro Regular" ,sans-serif;
    font-size: 1.1rem;
    color: #474747;
}

#skills .skills-content h2 {
    font-family: "Visuelt Pro", sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

#skills .skills-content h3 {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;

}

#skills .skills-container span {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.1rem;
    color: #474747;
}

#skills .skills-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#skills .skills-left, .skills-right {
    width: 100%;
}

#skills .skills-left {
    padding-right: 100px;
}


#skills .programming-languages, .web-development, .development, .database {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#skills .programming-languages-left, .web-development-left, .web-development-right, .programming-languages-right, .database, .development-left, .development-right {
    display: grid;
    grid-gap: 10px;
    padding-right: 50px;
}

/* projects */
#projects {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#projects .wrapper {
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

#projects .head {
    margin-left: 1.5em;
}

#projects h2 {
    font-family: "Visuelt Pro", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

#projects .head p {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.1em;
    color: #474747;
}

#projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 25px 60px 25px;
    justify-items: center;
}

#projects .card {
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    height: 400px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    transition:  0.3s ease-in-out;
    background-position: center;
}

#projects .row {
    color: white;
    display: flex;
    padding: 5px;
    background: rgba(0,0,0,0.7);
    width: 100%;
    transition: 0.3s ease-in-out;
}

#projects .icon {
    font-family: 'Visuelt Pro', sans-serif;
    background: black;
    color: white;
    border-radius: 50%;
    width: 64px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}


#projects .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    min-height: 80px;
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease;
}

#projects .description h4 {
    font-family: 'Visuelt Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 3px;
}

#projects .description p {
    font-family: 'Visuelt Pro Regular', sans-serif;
    color: #b6b6b6;
    font-size: 1em;
}

#projects input {
    display: none;
}

#projects .all-projects h2 {
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    margin-left: 1.5em;
}

#projects .all-projects h2 a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

#projects h2 a:hover {
    background-color: #e1e1e1;
    border-radius: 100px;
    padding: 6px 15px;
}



/* footer */
footer {
    width: 100%;
    position: relative;
    height: 200px;
    background: black;
}

.footer-wrapper {
    width: 100%;
    background: black;
    height: 100%;
    padding: 0;
    bottom: 0;
    float: left;
    display: flex;
    align-items: center;
}

.footer-content {
    min-width: 450px;
    width: 100%;
    height: 70px;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    font-family: "Visuelt Pro", sans-serif;
    color: white;
    font-size: 0.8em;
    padding-top: 5px;
    padding-right: 25px;
}

.footer-links i {
    color: white;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.footer-links a:hover i {
    background-color: white;
    color: black;
}

/* scroll on top button */
#scroll-up {
    position: fixed;
    bottom: 50px;
    right: 30px;
    color: #363636;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
    z-index: 995;
}

#scroll-up img {
    width: 25px;
    height: 40px;
    margin-bottom: 5px;
    filter: brightness(22%) contrast(50%);
}

#scroll-up span {
    font-family: "Visuelt Pro Medium", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    writing-mode: sideways-lr;
    text-orientation: upright;
}


@media only screen and (max-width: 575px) {
    /* projects */
    #projects {
        padding: 50px;
    }

    #projects .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hamburger-button {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .hamburger .line {
        width: 0;
        height: 30px;
        background: white;
        margin: 0;
    }

    .nav-bar {
        display: none;
        position: absolute;
    }

    .nav-bar.active {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }

    .nav-bar ul {
        display: block;
        text-align: center;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #projects {
        padding: 50px;
    }

    #projects .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hamburger-button {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .hamburger .line {
        width: 0;
        height: 30px;
        background: white;
        margin: 0;
    }

    .nav-bar {
        display: none;
        position: absolute;
    }

    .nav-bar.active {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }

    .nav-bar ul {
        display: block;
        text-align: center;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-content {
        flex-direction: column;
    }

    .left, .right {
        flex: none;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) {

}
