@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Visuelt Pro Regular';
    src: url('../fonts/VisueltPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Visuelt Pro Medium';
    src: url('../fonts/VisueltPro-Medium.ttf') format('truetype');
    font-weight: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html body.no-scroll{
    overflow: hidden;
}


html {
    scroll-behavior: smooth;
}

header {
    background: white url('../images/header.png') center center / cover no-repeat fixed;
    width: 100%;
    height: 100vh;
}

/* navbar */
.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s ease;
    z-index: 998;
    animation: slideDown 0.5s ease forwards;
    text-transform: uppercase;
    background-color: transparent;
}

.nav-container.scrolled {
    background-color: white;

}

.hamburger-button.scrolled .material-icons {
    color: black;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

.hamburger-button .material-icons {
    font-size: 50px;
    color: white;
    transition: color 0.5s;
}

.scrolled .hamburger-button .material-icons,
.hamburger-button.active .material-icons {
    color: black;
}

.nav-container .nav-bar ul li a {
    font-family: "Visuelt Pro Medium", sans-serif;
    position: relative;
    overflow: hidden;
    display: block;
    color: white;
    font-size: 1.5em;
    padding: 5px 5px;
    margin: 15px;
    transition: color 0.5s, background-color 0.5s;
}

.nav-container .nav-bar ul li a::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    bottom: 0;
    left: calc(50% - 5px);
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}

.nav-container .nav-bar ul li a:hover::after,
.nav-container .nav-bar ul li a:focus::after,
.nav-container .nav-bar ul li.active a::after {
    opacity: 1;
}

.nav-container.scrolled .nav-bar ul li a {
    color: black;
}

.nav-container.scrolled .nav-bar ul li a::after {
    background-color: black;
}

.nav-container.scrolled .nav-bar ul li a {
    color: black;
}

.nav-bar.active ul li a {
    color: black;
}

.nav-bar.active ul li a::after {
    background-color: black;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
}

@keyframes slideDown {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

/* name */
header .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13vw;
    width: 100%;
    height: 100%;
}

header .name h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 8vw;
    transition: color 0.5s;
}

.name-link {
    text-decoration: none;
    color: inherit;
}

header .name h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.name h1 .name-part:first-child {
    display: inline-block;
    animation: slideFromLeft 0.5s ease-out forwards;
}

.name h1 .name-part:last-child {
    display: inline-block;
    animation: slideFromRight 0.5s ease-out forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* arrow */
.scroll-down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    color: white;
    animation: bounce 3s infinite;
}

.name h1, .scroll-down-arrow {
    transition: opacity 0.5s ease-out;
}

.scrolled .name h1,
.scrolled .scroll-down-arrow {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-10px);
    }
    60% {
        transform: translateX(-50%) translateY(-5px);
    }
}

@media only screen and (max-width: 1320px) {
    .nav-container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .nav-container {
        padding: 0 30px;
    }
}

/* about */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: auto;
}

#about .about-content {
    position: relative;
    display: flex;
    max-width: 1200px;
    align-items: center;
}

#about .right {
    order: 2;
    padding-left: 20px;
    width: 50%;
}

#about .right img {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

#about .left {
    order: 1;
    flex-grow: 1;
    padding-right: 20px;
    width: 50%;
}

#about .left h1 {
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 4.5em;
    margin-bottom: 0.2em;
}

#about .left p {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.3em;
    color: #363636;
    line-height: 2em;
    padding-bottom: 20px;
}

.cta {
    display: inline-block;
    position: relative;
    margin: auto;
    padding: 10px 20px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 1.6em;
    color: #000;
    transform: scale(1);
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 8px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    background: #f1f1f1;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

#footer-contact-id .cta {
    margin-top: 20px;
    color: white;
}

#footer-contact-id .cta svg {
    stroke: white;
}

#footer-contact-id .cta:hover {
    color: black;
}

#footer-contact-id .cta:hover svg {
    stroke: black;
}

#contact .cta {
    transform: translateY(-60px);
}

#about-more .cta svg,
#contact .cta svg,
#contact-success .cta svg {
    margin-right: 8px;
    transform: translateX(5px) rotate(180deg);
}

#about-more .cta:hover svg,
#contact .cta:hover svg,
#contact-success .cta:hover svg {
    transform: translateX(0) rotate(180deg);
}



#about .social-links {
    position: absolute;
    bottom: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#about .social-links a {
    font-family: "Visuelt Pro Regular", sans-serif;
    color: gray;
    font-size: 1.2em;
    text-decoration: none;
    list-style-type: none;
}

#about .social-links a span:hover {
    border-bottom: 1px solid gray;
    padding-bottom: 1px;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-left: 1px;
    padding: 5px 0 5px 0;
}

#about .social-links i {
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}

#about .social-links span:not(:last-child)::after {
    content: " / ";
    margin: 8px;
    color: gray;
    font-size: 1.5rem;
}

/* about more*/
#about-more {
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.about-more-content {
    padding: 50px 20px 100px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

#about-more .about-more-content p {
    font-family: "Visuelt Pro Regular", sans-serif;
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #474747;
}

#about-more .about-more-content h1 {
    font-family: "Visuelt Pro", sans-serif;
    font-size: 3rem;
    padding-top: 100px;
    margin-bottom: 20px;
}

#about-more h2 {
    font-family: "Visuelt Pro", sans-serif;
    text-transform: lowercase;
    font-size: 1.5em;
    margin-left: 0.5em;
    padding: 5px 0 5px 20px;
}

#about-more h2 a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

#about-more h2 a:hover {
    background-color: #e1e1e1;
    border-radius: 150px;
    padding: 6px 15px 6px 0;
    margin-left: -10px;
}

.about-page .nav-container,
.about-page .nav-bar ul li a,
.about-page .hamburger-button .material-icons,
.about-page .nav-bar ul li a::after {
    color: black;
}

.about-page .nav-container.scrolled,
.about-page .hamburger-button.scrolled .material-icons {
    color: black;
}

.about-page .hamburger .line,
.about-page .nav-bar ul li a:hover::after,
.about-page .nav-bar ul li a:focus::after {
    background-color: black;
}

/* skills */
#skills {
    background-color: #f9f9f9;
    padding: 100px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills .skills-content {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
}

#skills .skills-content p, .skills-content p, .skills-container span {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.1rem;
    color: #474747;
}

#skills .skills-content p, #projects .head p {
    line-height: 1.7;
}

#projects .description p {
    line-height: 1.6;
}

#skills .skills-content h2 {
    font-family: "Visuelt Pro", sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

#skills .skills-content h3 {
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
}

#skills .skills-container {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

#skills .skills-left, .skills-right {
    width: 100%;
    padding-left: 10px;
}

#skills .programming-languages, .web-development, .development, .database {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    gap: 30px;
}

#skills .programming-languages-left, .web-development-left, .web-development-right,
.programming-languages-right, .database, .development-left, .development-right {
    display: grid;
    grid-gap: 10px;
}

/* projects */
#projects {
    width: 100%;
    padding: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#projects .wrapper {
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

#projects .head {
    margin-left: 1.5em;
}

#projects h2 {
    font-family: "Visuelt Pro", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

#projects .head p {
    max-width: 1200px;
    font-family: "Visuelt Pro Regular", sans-serif;
    font-size: 1.1em;
    color: #474747;
}

#projects .container {
    display: grid;
    width: 100%;
    padding: 40px 25px 60px 0;
    justify-items: center;
}

#projects .card {
    display: flex;
    width: 100%;
    height: auto;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: white;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

#projects .container .card:nth-child(4),
#projects .container .card:nth-child(5),
#projects .container .card:nth-child(6),
#projects .container .card:nth-child(7),
#projects .container .card:nth-child(8),
#projects .container .card:nth-child(9) {
    height: 100px;
}

#projects .card:hover{
    width: 99%;
    background-color: white;
    opacity: 1;
}

#projects .content {
    display: flex;
    width: 100%;
    height: 100%;
}

#projects .text {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 35px 0 0;
}

#projects .description, #projects .icon {
    color: black;
}

#projects img {
    object-fit: cover;
    width: 600px;
    height: 200px;
}

#projects .row {
    display: flex;
    max-width: 1200px;
    transition: 0.3s ease-in-out;
}

#projects .icon {
    font-family: 'Visuelt Pro', sans-serif;
    font-size: 2.6em;
    color: black;
    width: 64px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 0;
}

#projects .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: opacity .3s ease;
}

#projects .description h4 {
    font-family: 'Visuelt Pro', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    padding-bottom: 5px;
}

#projects .description p {
    font-family: 'Visuelt Pro Regular', sans-serif;
    color: #474747;
    font-size: 1.1em;
}

#projects input {
    display: none;
}

/* contact */
#contact {
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contact-content {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

#contact .contact-content p {
    font-family: "Visuelt Pro Regular", sans-serif;
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #474747;
}

#contact .contact-content h1 {
    font-family: "Visuelt Pro", sans-serif;
    padding-top: 100px;
    font-size: 3rem;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.form-container form {
    width: 100%;
    max-width: 1200px;
    position: relative;
    text-align: right;
}

.input-group {
    width: 100%;
    display: grid;
    margin: 30px 0;
    position: relative;
}

.input-group span {
    font-family: "Visuelt Pro Regular", sans-serif;
    margin: 0 auto 0 0;
    font-size: 14px;
    color: red;
}

.input-group input, .input-group textarea {
    font-family: "Visuelt Pro Regular", sans-serif;
    flex-basis: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}

::placeholder {
    font-family: "Visuelt Pro Regular", sans-serif;
    color: #474747;
    font-size: 18px;
}

textarea {
    resize: none;
}

.form-container form button {
    font-family: "Visuelt Pro", sans-serif;
    letter-spacing: 2px;
    background: black;
    color: white;
    border: none;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15px;
    width: 240px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(0);
}

.form-container form button span {
    margin-bottom: 3px;
}

.form-container button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(255, 255, 255);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    border: 1px solid black;
}

.form-container form button:hover {
    color: black;
}

button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

#message-sent {
    font-family: "Visuelt Pro Regular", sans-serif;
    text-transform: lowercase;
    font-size: 20px;
}

.input-group input:focus,
.input-group textarea:focus {
    border-bottom: 1px solid black;
}

#contact-success {
    padding: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contact-success-content {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
}

#contact-success .contact-success-content p {
    font-family: "Visuelt Pro Regular", sans-serif;
    margin-bottom: 25px;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #474747;
}

#contact-success .contact-success-content h1 {
    font-family: "Visuelt Pro", sans-serif;
    padding-top: 100px;
    font-size: 3rem;
    margin-bottom: 20px;
}

/* footer */
footer {
    width: 100%;
    position: relative;
    height: 200px;
    background: black;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    bottom: 0;
    float: left;
    display: grid;
    align-items: center;
}

.footer-content, .footer-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    font-family: "Visuelt Pro", sans-serif;
    color: white;
    font-size: 0.8em;
    padding-top: 5px;
    padding-right: 25px;
}

.footer-links i {
    color: white;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.footer-links a:hover i {
    background-color: white;
    color: black;
}

/* scroll on top button */
#scroll-up {
    position: fixed;
    bottom: 50px;
    right: 30px;
    color: #363636;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
    z-index: 995;
}

#scroll-up img {
    width: 25px;
    height: 40px;
    margin-bottom: 5px;
    filter: brightness(22%) contrast(50%);
}

#scroll-up span {
    font-family: "Visuelt Pro Medium", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

@media only screen and (max-width: 575px) {
    /* about */
    #about, #skills, #about-more, #projects, #contact, #contact-success {
        padding: 20px;
    }

    #about .about-content {
        flex-direction: column;
        align-items: center;
    }

    #about .right, #about .left {
        order: 0;
        padding: 10px 0;
        width: 100%;
    }

    #about .right img {
        max-width: 100%;
        height: auto;
    }

    #about .left h1 {
        font-size: 2em;
    }

    #about .left p {
        font-size: 1.1em;
    }

    #about .social-links {
        position: static;
        padding-top: 40px;
    }

    #about .left h2 {
        font-size: 1.4em;
    }

    #about .social-links {
        font-size: 0.8rem;
    }

    #about .about-content {
        display: block;
    }

    #about-more .about-more-content h1 {
        font-size: 2.5em;
    }

    #about-more .about-more-content p {
        font-size: 1em;
    }

    .cta {
        font-size: 1.3em;
    }

    /* skills */
    #skills .skills-content h2 {
        font-size: 2.5em;
    }

    #skills .skills-content p, .skills-container span {
        font-size: 1em;
    }

    #skills .skills-content h3 {
        font-size: 1.1em;
    }

    #skills .skills-container {
        display: block;
    }

    /* projects */
    #projects h2 {
        font-size: 2.5em;
    }

    #projects .head p {
        font-size: 1em;
    }

    #projects .description h4 {
        font-size: 1.2em;
    }

    #projects .description p {
        font-size: 1em;
    }

    #projects .all-projects h2 {
        font-size: 1.3em;
    }

    #projects .icon {
        font-size: 1.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px 5px 0;
    }

    #projects img {
        display: none;
    }

    #projects .text {
        width: 100%;
        padding: 0;
    }

    #projects .container {
        padding: 40px 0 60px 0;
    }

    #projects .card {
        max-width: 100%;
        height: auto;
    }

    #projects .description {
        padding: 10px;
    }

    #projects .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #projects .cta {
        margin-bottom: 30px;
    }

    /* contact */
    #contact .contact-content h1 {
        font-size: 2.5em;
    }

    #contact .contact-content p {
        font-size: 1em;
    }

    #contact-success .contact-success-content h1 {
        font-size: 2.5em;
    }

    #contact-success .contact-success-content p {
        font-size: 1em;
    }

    #contact .cta {
        display: none;
    }

    /* navbar */
    .hamburger-button {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .hamburger .line {
        width: 0;
        height: 30px;
        background: white;
        margin: 0;
    }

    .nav-bar {
        display: none;
        position: absolute;
    }

    .nav-bar.active {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }

    .nav-bar ul {
        display: block;
        text-align: center;
        transition: 0.5s;
    }

    #scroll-up {
        bottom: 25px;
        right: 15px;
    }

    .footer-content {
        display: grid;
        gap: 5px;
    }

    .footer-content p {
        font-size: 0.9em;
    }

    .form-container form button {
        width: 100%;
        font-size: 13px;
        padding: 15px 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* about */
    #about, #skills, #about-more, #projects, #contact, #contact-success {
        padding: 20px;
    }

    #about .social-links {
        position: static;
        padding-top: 40px;
    }

    #about .about-content {
        flex-direction: column;
        align-items: center;
    }

    #about .right, #about .left {
        order: 0;
        padding: 10px 0;
        width: 100%;
    }

    #about .right img {
        max-width: 100%;
        height: auto;
    }

    /* projects */
    #projects .card {
        max-width: 100%;
        height: auto;
    }

    #projects .description {
        padding: 10px;
    }

    #projects img {
        width: 400px;
        height: 200px;
    }

    #projects .icon {
        font-size: 2em;
        margin: 5px 0 5px 0;
    }

    #projects .description h4 {
        font-size: 1.3em;
    }

    #projects .description p {
        font-size: 1em;
    }

    #projects .text {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 5px 0 0;
    }

    #projects .cta {
        margin-bottom: 50px;
    }

    /* navbar */
    .hamburger-button {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
    }

    .hamburger .line {
        width: 0;
        height: 30px;
        background: white;
        margin: 0;
    }

    .nav-bar {
        display: none;
        position: absolute;
    }

    .nav-bar.active {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
    }

    .nav-bar ul {
        display: block;
        text-align: center;
        transition: 0.5s;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* about */
    #about .left h1 {
        font-size: 3em;
    }

    #about .left p {
        font-size: 1.2em;
    }

    #about, #skills, #projects {
        padding: 50px;
    }

    #about .social-links {
        font-size: 0.9em;
    }

    #about .right img {
        width: 100%;
        height: auto;
    }
    /* projects */
    #projects .card {
        max-width: 100%;
        height: auto;
    }

    #projects img {
        width: 400px;
    }

    #projects .card {
        height: 240px;
    }

    .nav-container {
        padding: 0 10px;
    }

    .left, .right {
        flex: none;
        width: 100%;
    }
}
